<c-card>
  <c-card-header>
    <h3>Ajout offre spéciale</h3>
  </c-card-header>
  <c-card-body>
    <form cForm name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
<!--      <div class="mb-3">-->
<!--        <label cLabel for="name">Services</label>-->
<!--        <input cFormControl-->
<!--               id="name"-->
<!--               placeholder="Libelle"-->
<!--               type="text"-->
<!--               name="name"-->
<!--               [(ngModel)]="form.name"-->
<!--               required-->
<!--        />-->
<!--      </div>-->

      <div class="mb-3">
        <label cLabel for="promotion">Promotion (en %)</label>
        <input cFormControl
               id="promotion"
               placeholder="Promotion"
               type="number"
               name="promotion"
               [(ngModel)]="form.promotion"
               required
        />
      </div>

      <div class="mb-3">
        <label cLabel for="start">Début</label>
        <input cFormControl
               id="start"
               placeholder="Début"
               type="datetime-local"
               name="start"
               [(ngModel)]="form.start"
               required
        />
      </div>

      <div class="mb-3">
        <label cLabel for="end">Fin</label>
        <input cFormControl
               id="end"
               placeholder="Fin"
               type="datetime-local"
               name="end"
               [(ngModel)]="form.end"
               required
        />
      </div>

      <!--      button-->
      <div class="mb-3">
        <button cButton type="submit" [disabled]="f.form.invalid">Ajouter</button>
      </div>
    </form>
  </c-card-body>
</c-card>
