<c-row>

  <c-col md="12" xl="6" >
    <c-row class="pb-1">
      <c-col md="6">
        <input type="date" class="form-control" placeholder="" [(ngModel)]="now" />
      </c-col>
      <c-col md="6">
      <button class="btn btn-secondary" (click)="filterTurnover()">Rechercher</button>
      </c-col>
    </c-row>
    <c-widget-stat-a
      class="mb-4"
      color="primary"
      title="{{turnOverTitle}}"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{todayTurnover}} Ariary
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

</c-row>



<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Chiffre d'affaire par mois</h4>
        <div class="small text-medium-emphasis">Janvier - Decembre "date"</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
</c-card>
