<c-row>

  <c-col md="12" xl="6" >
    <c-row class="pb-1">
      <c-col md="6">
        <input type="date" class="form-control" placeholder="" [(ngModel)]="now" />
      </c-col>
      <c-col md="6">
      <button class="btn btn-secondary" (click)="filterTurnover()">Rechercher</button>
      </c-col>
    </c-row>
    <c-widget-stat-a
      class="mb-4"
      color="primary"
      title="{{turnOverTitle}}"
    >
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        {{todayTurnover}} Ariary
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
      </ng-template>
    </c-widget-stat-a>
  </c-col>

</c-row>



<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Chiffre d'affaire par mois</h4>
        <div class="small text-medium-emphasis">Janvier - Decembre {{yearStr}}</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <input type="number" class="form-control" placeholder="Annee" [(ngModel)]="year" >
        <button type="button" class="btn btn-secondary" (click)="filterPerYear()">Rechercher</button>
      </c-col>
    </c-row>
    <c-chart
      [data]="chartData"
      type="line"
      (chartRef)="handleChartRef($event)">
    </c-chart>
  </c-card-body>
</c-card>
