ngb-rating {
    color: #FFC107;
    font-size: 40px;
}

.visually-hidden {
    display: none;
}

.round-image-container {
    width: 200px; /* Set your desired width */
    height: 200px; /* Set your desired height */
    overflow: hidden;
    border-radius: 50%; /* Make it round */
}
.round-image {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Cut the image if it's too big and maintain aspect ratio */
    border-radius: 50%; /* Keep it round */
}
.zoom-effect:hover {
    transform: scale(1.05); /* Adjust the scale value as needed */
    transition: transform 0.3s ease; /* Adjust the transition duration and timing function as needed */
}
