<c-card>
  <c-card-header>
    <h3>Paiement depense mensuel</h3>
  </c-card-header>
  <c-card-body>
    <div class="d-flex align-items-center">
      <div class="p-2">
        <label for="nameFilter">Nom</label>
        <input cFormControl type="text" id="nameFilter" placeholder="Nom" [(ngModel)]="nameFilter">
      </div>
      <div class="p-2">
        <button class="btn btn-primary" (click)="search()">Rechercher</button>
      </div>
      <div class="p-2">
        <app-my-button text="Ajouter" icon="add" color="primary" (click)="add()"></app-my-button>
      </div>
    </div>
    <c-row style="padding-top: 16px;">
      <div
        class="mat-elevation-z2 table-responsive mb-4"
      >
        <table cTable>
          <thead>
          <tr>
            <th scope="col" *ngFor="let title of titles">
              {{ title }}
            </th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="Array.isArray(res)">
            <tr *ngFor="let item of res | paginate: { itemsPerPage: 10, currentPage: page, totalItems: count }">
              <td *ngFor="let column of titles; index as i">
                {{ getters[i](item)}}
              </td>
              <td>
                <div class="d-flex">
                  <app-my-button text="Modifier" icon="edit" color="warn" (click)="edit(item._id)" />
                  <app-my-button text="Supprimer" icon="delete" color="danger" (click)="delete(item._id)" />
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>

        </table>
      </div>
      <pagination-controls (pageChange)="pageChanged($event)" class="pagination"></pagination-controls>

    </c-row>
    <div>
      <ng-content />
    </div>
  </c-card-body>
</c-card>
