<c-card *ngIf="task">
  <c-card-header>
    <div class="d-flex justify-content-between">
      <h2 class="my-auto">Details tâche</h2>
    </div>
  </c-card-header>
  <c-card-body>
    <div class="d-flex justify-content-between">
      <div>
        <p><b>Client:</b> {{task.user ? task.user.name : 'Utilisateur non defini'}}</p>
        <p><b>Date:</b> {{formatDateTime(task.date)}}</p>
        <p><b>Status:</b> {{getStatus(task.status)}}</p>
        <p><b>Prix total:</b> {{totalPrices}}</p>
        <p><b>Payé:</b> {{task.paid ? 'Oui' : 'Non'}}</p>
      </div>

    </div>
    <div class="button-container">
      <button *ngIf="task.status === 0" class="btn btn-danger" (click)="changeStatus(-1)">Annuler</button>
      <button *ngIf="task.status === 0" class="btn btn-success" (click)="changeStatus(20)">Marquer comme fait</button>
      <button *ngIf="task.paid !== true && task.status!==-1" class="btn btn-primary" (click)="pay()">Marquer comme payé</button>
    </div>
    <div class="mat-elevation-z2 table-responsive mb-4">
      <table cTable>
        <thead>
          <tr>
            <th>Service</th>
            <th>Prix</th>
            <th>Promotion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of task.services">
            <td>{{service.service?.name}}</td>
            <td>{{service.service?.price}}</td>
            <td>{{service?.promotion}} %</td>
          </tr>
        </tbody>
      </table>
    </div>
  </c-card-body>
</c-card>
