<c-card>
  <c-card-header>
    <h3>Type de depense</h3>
  </c-card-header>
  <c-card-body>
    <div class="d-flex">
<!--      <app-my-button class="p-2" text="Recherche" icon="search" color="primary" (click)="search()" />-->
      <div class="p-2">
        <input cFormControl type="text" placeholder="Search by Name" [(ngModel)]="nameFilter">
      </div>
      <div class="p-2">
        <button class="btn btn-primary" (click)="search()">Search</button>
      </div>
      <app-my-button class="p-2" text="Ajouter" icon="add" color="primary" (click)="add()" />
    </div>
    <c-row style="padding-top: 16px;">
      <div
        class="mat-elevation-z2 table-responsive mb-4"
      >
        <table cTable>
          <thead>
            <tr>
              <th scope="col" *ngFor="let title of titles">
                {{ title }}
              </th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="Array.isArray(res)">
            <tr *ngFor="let item of res">
              <td *ngFor="let column of titles; index as i">
                {{ getters[i](item)}}
              </td>
              <td>
                <div class="d-flex">
                  <app-my-button text="Modifier" icon="edit" color="warn" (click)="edit(item._id)" />
                  <app-my-button text="Supprimer" icon="delete" color="danger" (click)="delete(item._id)" />
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>

        </table>
      </div>

      <mat-paginator
        [length]="totalPages || 10"
        [pageSize]="count || 0"
        aria-label="Select page"
        (page)="pageChange($event)"
        [hidePageSize]="true"
      />
      </c-row>
    <div>
      <ng-content />
    </div>
  </c-card-body>
</c-card>
