<c-card>
  <c-card-header>
    <h3>Modification service</h3>
  </c-card-header>
  <c-card-body>
    <form cForm name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
      <div class="mb-3">
        <label cLabel for="name">Nom</label>
        <input cFormControl
               id="name"
               placeholder="Nom"
               type="text"
               name="name"
               [(ngModel)]="form.name"
               required
        />
      </div>

      <div class="mb-3">
        <label cLabel for="price">Prix</label>
        <input cFormControl
               id="price"
               placeholder="Prix"
               type="number"
               name="price"
               [(ngModel)]="form.price"
               required
        />
      </div>

      <div class="mb-3">
        <label cLabel for="duration">Durée (en Minutes)</label>
        <input cFormControl
               id="duration"
               placeholder="Durée"
               type="number"
               name="duration"
               [(ngModel)]="form.duration"
               required
        />
      </div>

      <div class="mb-3">
        <label cLabel for="commission">Commission (en %)</label>
        <input cFormControl
               id="commission"
               placeholder="Commission"
               type="number"
               name="commission"
               [(ngModel)]="form.commission"
               required
        />
      </div>


      <div class="mb-3" draggable="true" ngClass="{{dragAreaClass}}">
        <div class="col-md-12 text-center">
          Déposez vos images ici
          <a href="javascript:void(0)" (click)="file.click()">
            ou cliquez pour choisir vos images
          </a>
        </div>
        <input cFormControl
               type="file"
               #file
               id="photo"
               name="photo"
               [multiple]="true"
               (change)="onFileChange($event)"
               accept="image/*"
               style="display:none" />
      </div>
      <div class="container">
        <div class="row">
          <ng-container *ngFor="let photo of form.photos; let i = index">
            <div class="col-4 mb-3">
              <c-card style="position: relative;">
                <img cCardImg="top" id="displayPhoto" [src]="photo" />
                <button cButtonClose (click)="removePhoto(photo)" style="background-color: red; position: absolute; right: 0; top: 0;"></button>
              </c-card>
            </div>
            <!-- Ajoute une nouvelle ligne après chaque troisième image -->
            <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
          </ng-container>
        </div>
      </div>

      <!--      button-->
      <div class="mb-3">
        <button cButton type="submit" [disabled]="f.form.invalid">Modifier</button>
      </div>
    </form>
  </c-card-body>
</c-card>
