<c-card>
  <c-card-header>
    <h3>Services</h3>
  </c-card-header>
  <c-card-body>
    <div class="d-flex">
      <div class="p-2">
        <input class="mb-3" cFormControl type="text" placeholder="Nom" [(ngModel)]="nameFilter">
        <div class="row mb-3">
          <div class="col-6">
            <input cFormControl type="number" placeholder="Prix Minimum" [(ngModel)]="minPriceFilter">
        </div>
          <div class="col-6">
            <input cFormControl type="number" placeholder="Prix Maximum" [(ngModel)]="maxPriceFilter">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <input cFormControl type="number" placeholder="Durée Minimum (minutes)" [(ngModel)]="minDurationFilter">
          </div>
          <div class="col-6">
            <input cFormControl type="number" placeholder="Durée Maximum (minutes)" [(ngModel)]="maxDurationFilter">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input cFormControl type="number" placeholder="Commission Minimum (%)" [(ngModel)]="minCommissionFilter">
          </div>
          <div class="col-6">
            <input cFormControl type="number" placeholder="Commission Maximum (%)" [(ngModel)]="maxCommissionFilter">
          </div>
        </div>

      </div>
      <div class="p-2">
        <button class="btn btn-primary" (click)="search()">Rechercher</button>
      </div>
      <app-my-button class="p-2" text="Ajouter" icon="add" color="primary" (click)="add()" />
    </div>
    <c-row style="padding-top: 16px;">
      <div
        class="mat-elevation-z2 table-responsive mb-4"
      >
        <table cTable>
          <thead>
          <tr>
            <th scope="col" *ngFor="let title of titles">
              {{ title }}
            </th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="Array.isArray(res)">
            <tr *ngFor="let item of res | paginate: { itemsPerPage: size, currentPage: page, totalItems: count }">
              <td *ngFor="let column of titles; index as i">
                {{ getters[i](item)}}
              </td>
              <td>
                <div class="d-flex">
                  <app-my-button text="Modifier" icon="edit" color="warn" (click)="edit(item._id)" />
                  <app-my-button text="Supprimer" icon="delete" color="danger" (click)="delete(item._id)" />
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>

        </table>
      </div>
      <pagination-controls previousLabel="Précédent"
                           nextLabel="Suivant"
                           [responsive]="true" (pageChange)="pageChanged($event)" class="pagination"></pagination-controls>

      <!--      <mat-paginator-->
      <!--        [length]="res['count'] || 10"-->
      <!--        [pageSize]="res.pageSize || 0"-->
      <!--        aria-label="Select page"-->
      <!--        (page)="pageChange($event)"-->
      <!--      />-->
    </c-row>
    <div>
      <ng-content />
    </div>
  </c-card-body>
</c-card>
